.parent{
    background-color: red;
    height: 500px;
    width: 100%;
    display: flex;
}
.child1{
    background-color: aqua;
    border: 2px solid;
    height: 100px;
    width: 100px;
    display:flex;
    margin-right: 5px;
}

.child2{
        background-color:blue;
        border: 2px solid;
        height: 100px;
        width: 100px;
        margin-right: 5px;
        display: flex;
    }
.child3{
    background-color: blueviolet;
    border: 2px solid;
    height: 100px;
    width: 100px;
    margin-right: 5px;
    display: flex;
}